*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/fundoLoginV2.png);
    display: flex;
    align-content: center;
    justify-content: center;
    
}
.main{
    backdrop-filter: blur(7px);
    border: 20px;
    border-color: black;
    border-radius: 20px;
    width: 732px;
    height: 586px;
    align-content: center;
    justify-content: center;
}